/*ltd-white #FFFFF3
ltd-grey #444A4C
ltd-blue #2E6171
ltd-lightblue #AFD9D3
ltd-darkblue #55717A*/

.home {
	font-size: 100;
	background-color: #FFFFF3;
}

.home h1 {
	position: relative;
	margin: 0;
	color: #444A4C;
	margin: 0;

	font-family: ‘Merriweather’;
	font-weight: 700;
	font-size: 80;
	line-height: 1.3em/52px;
}	

.home h3 {
	margin: 0;
	font-family: ‘Merriweather’;
	font-weight: 700;
	font-size: 40px;
	line-height: 1.3em/26px;
	color: #2E6171;
}

.home .querybutton {
	font-size: 50;
	color: #AFD9D3;
}