/*ltd-white #FFFFF3
F2F2F2
ltd-grey #34393A
ltd-blue #2E6171
ltd-lightblue #AFD9D3
ltd-darkblue #1B3949*/

@import url('https://fonts.googleapis.com/css?family=Lato:700|Merriweather:300,300italic,700');

h1,h2,h3,h4,h5,h6 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
}

p,a,li,blockquote, select, input, button, table, td, tr, b {
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-size: 14px;
}

body {
	background-color: #F2F2F2;
}

.navbar {
	margin-bottom: 0;
}

.navbar-brand{
	font-size: 16px;
}

.navbar-fixed-top {
	position: fixed;
	margin-bottom: 0;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
	border: 0;
}

.navbar-fixed-top li a {
	font-size: 16px;
}

.query {
	margin-top: 100px;
}

.query-title h1 {
	margin-top: 0px;
	font-size: 64;
	text-align: center;
	border-bottom: 1px solid #e6e6e6;
	padding-bottom: 24px;
}

.query-title h3 {
	padding-top: 6px;
	font-size: 32;
	text-align: center;
	color: #2E6171;
}

.filters-1 .col-md-3 small {
	position: relative;
	left: 20px;
	top: 5px;
}
