/*ltd-white #FFFFF3
ltd-grey #34393A
ltd-blue #2E6171
ltd-lightblue #AFD9D3
ltd-darkblue #1B3949*/

@import url('https://fonts.googleapis.com/css?family=Black+Han+Sans|Lato|Merriweather|Source+Sans+Pro');

.navbar {
	margin-bottom: 0;
}

.navbar-brand{
	font-size: 16px;
	font-family: 'Lato', sans-serif;
}

.navbar-fixed-top {
	position: fixed;
	font-size: 16px;
	margin-bottom: 0;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
	border: 0;
	font-family: 'Lato', sans-serif;
}
