<html>
	<head>
		<link rel="stylesheet" type="text/css" href="static/assets/css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="static/assets/css/about.css">
		<title>Searchlight</title>
	</head>


	<body>

		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
				<a href="/" class="navbar-brand">Searchlight</a>

				<button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>

				<div class="collapse navbar-collapse navHeaderCollapse">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="/query">Query</a></li>
						<li><a href="/about">About</a></li>
						<li><a href="/process">Process</a></li>
						<li><a href="/team">Team</a></li>
						<li><a href="/contact">Contact</a></li>
					</ul>
				</div>
			</div>
		</div>

		<div class="about">
			<div class="container">
				<h1>What's Our Mission?</h1>

				<div class="box">
					<p>
						Congress appears to be a "black-box" of sorts nowadays. With the especially heated political climate
						throughout the past few years, it's critical that there be transparency between the work thats being done
						in Congress to the average citizen.
					<p>
				</div>

				<div class="box">
					<p>
						There are public, government-provided online records of almost every word spoken by representatives, witnesses, and senators on a daily basis.
						However, to make use of this information, one has navigate through many pages, find a specific days' discourse
						to view, and then sift through thousands of lines of a single .txt file to find any information of use.
					<p>
				</div>

				<div class="box">
					<p>
						To the average citizen and especially researchers interested in this dataset, this is far too time-consuming and inaccessible to
						yield any meaningful results or analysis of what's actually going on behind the scenes in Congress.
					<p>
				</div>

				<div class="box">
					<p>
						That's where our team comes in with Searchlight, a liberating textual data project, sponsored by Goodly Labs. Our mission was to create an
						accessible database of information for citizens and researchers alike, where one can simply query for speeches within Congress, sifting through
						our scraped and parsed congressional data to find a set of speech snippets that can be downloaded into a csv.
					<p>
				</div>

				<div class="box">
					<p>
						Search for speeches by a given represenative or senator, or maybe by party. Maybe particular month or date is of interest to you, or maybe
						speeches given by delegates from a certain state. Whatever it be, our project helps you to collect information that best matches your needs.
					<p>
				</div>

				<div class="box">
					<p>
						If you liked this project, please give us a <a href="https://www.facebook.com/goodlylabs/">like on Facebook!</a> We hope to continue to partner with Goodly Labs and the UC Berkeley Institute
						Data Science to bring projects like this to the public sector!
					<p>
				</div>
			</div>
		</div>

	</body>
</html>
