<html>
<head>
	<!-- load the bootstrap css here -->
	<!-- <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
	<link rel="stylesheet" type="text/css" href="static/assets/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="static/assets/css/query.css">

</head>
<body>

	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
				<a href="/" class="navbar-brand">Searchlight</a>

				<button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>

				<div class="collapse navbar-collapse navHeaderCollapse">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="/query">Query</a></li>
						<li><a href="/about">About</a></li>
						<li><a href="/process">Process</a></li>
						<li><a href="/team">Team</a></li>
						<li><a href="/contact">Contact</a></li>
					</ul>
				</div>
		</div>
	</div>

	<!-- filters: surname, month, day, year,  -->

	<div class="query">
		<div class="container">

			<div class="query-title">
				<h1>Searchlight Query</h1>
				<h5>Search our speech database</h5>
			</div>

			<br clear="all">

			<div class="row filters-1">
				<div class="col-md-3">
					<input class="form-control" type="text" placeholder="Enter speaker surname" value="{{speaker}}" id="speaker"/>
				</div>
				<div class="col-md-3">
					<select class="form-control" id="year">
						<option value="">Month</option>
						{% for year in years %}
						<option value="{{year}}" {% if selected_year == year %}selected{%endif%}>{{year}}</option>
						{% endfor %}
					</select>
				</div>
				<div class="col-md-3">
					<select class="form-control" id="year">
						<option value="">Day</option>
						{% for year in years %}
						<option value="{{year}}" {% if selected_year == year %}selected{%endif%}>{{year}}</option>
						{% endfor %}
					</select>
				</div>
				<div class="col-md-3">
					<select class="form-control" id="year">
						<option value="">Year</option>
						{% for year in years %}
						<option value="{{year}}" {% if selected_year == year %}selected{%endif%}>{{year}}</option>
						{% endfor %}
					</select>
					<!-- <small>Try 2015,2016</small> -->
				</div>
			</div>

			<br clear="all">

			<div class="row">
				<div class="col-md-6">
					<button style="width:100%;" class="btn btn-primary" id="filter-btn"><b>Filter</b></button>
				</div>
				<div class="col-md-6">
					<button style="width:100%;" class="btn btn-default" id="download-btn"><b>Download</b></button>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12 text-right">
					<b>{{no_of_records}} speeches</b>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 text-center">
					<table class="table table-striped thead-dark">
						<thead class="text-center">
							<td>Hearing Title</td>
							<td>Date</td>
							<td>Speaker</td>
							<td>Speech</td>
						</thead>
						<tbody>
							{% if (records is defined) and records %}
								{% for record in records %}
									<tr>
										<td>{{record.title}}</td>
										<td>{{record.date}}</td>
										<td>{{record.name}}</td>
										<!-- This line shows just the first 100 characters and cuts it after that -->
										<td>{{record.text[0:100] + " ..."}}</td>
									</tr>
								{% endfor %}
							{% else %}
							<tr>
								<td colspan="4">No results</td>
							</tr>
							{% endif %}
						</tbody>
					</table>
					<hr>
					<p>Sneek peak of what you will download</p>
				</div>
			</div>
		</div>
	</div>
	<!-- Load the javascript down here -->
	<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
	<script src="static/js/main.js"></script>
</body>


</html>
