<html>
	<head>
		<link rel="stylesheet" type="text/css" href="static/assets/css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="static/assets/css/team.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"/>
		<title>Searchlight</title>
	</head>
	<body>

		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
				<a href="/" class="navbar-brand">Searchlight</a>

				<button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>

				<div class="collapse navbar-collapse navHeaderCollapse">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="/query">Query</a></li>
						<li><a href="/about">About</a></li>
						<li><a href="/process">Process</a></li>
						<li><a href="/team">Team</a></li>
						<li><a href="/contact">Contact</a></li>
					</ul>
				</div>
			</div>
		</div>

		<div class="team">

			<div class="container">
				<div class="team-title">
					<h1>MEET THE TEAM</h1>
				</div>
			</div>


		<div class="team-members">
			<div class="container">
				<div class="table-borderless table-responsive">

					<div class="row team-members-row" id="nalin">
						<div class="col-xs-3">
							<img class="member-img" src="static/assets/img/Nalin_Chopra_pic1.jpg">
						</div>
						<div class="col-xs-9">
							<div class="bio">
							<h3>
								<b>NALIN CHOPRA 
									<a href="https://www.linkedin.com/in/nalin-chopra/" target="_blank"><i class="fa fa-linkedin fa-2x" aria-hidden="true"></i></a>
								</b>
							</h3>
							<p> I’m a first-year student at UC-Berkeley studying Electrical Engineering & Computer Science. I first joined Goodly Labs in partnership with the Berkeley Institute of Data Science as an undergraduate researcher in January 2018. I’m excited to continue my work with them next fall and tackle a new project focused on societal good!
							</p>
						</div>
						</div>
					</div>

					<div class="row team-members-row" id="omkar">
						<div class="col-xs-9">
							<div class="bio">
							<h3>
								<b>OMKAR WAINGANKAR 
									<a href="https://www.linkedin.com/in/omkar-waingankar/" target="_blank"><i class="fa fa-linkedin fa-2x" aria-hidden="true"></i></a>
								</b>
							</h3>							
							<p>I'm a first-year student at UC-Berkeley studying Electrical Engineering & Computer Science. At the start of 2018, I joined Liberating Textual Data Group as an undergraduate researcher eager to gain technical skills, leverage Cal's resources as a premier research institution, and dive into the vast field of data science. Since then, I've had the pleasure of working with the incredible Goodly Labs team, and hope to expand and continue our work with Searchlight in the semesters to come.</p>
						</div>
						</div>
						<div class="col-xs-3">
							<img class="member-img" src="static/assets/img/omkarwaingankar.jpg">
						</div>
					</div>

					<div class="row team-members-row" id="peter">
						<div class="col-xs-3">
							<img class="member-img" src="static/assets/img/peter_wang_propic.jpg">
						</div>
						<div class="col-xs-9">
							<div class="bio">
							<h3>
								<b>PETER WANG 
									<a href="http://www.goodlylabs.org/" target="_blank"><i class="fa fa-linkedin fa-2x" aria-hidden="true"></i></a>
								</b>
							</h3>
							<p>My name is Peter Wang</p>
						</div>
						</div>
					</div>

				</div>
			</div>
		</div>
		</div>

		<br clear="all">
		<br clear="all">
		<br clear="all">
<!--
		<div class="container">
			<div class="team-title">
				<h1>Meet The Team</h1>
			</div>
		</div> -->

<!--
		<div class="team">
			<div class="container">
				<h1>TEAM</h1>
				<p> We are a group of 3 UC Berkeley students working on Liberating textual data to give increased information
					access to researchers and enthusiasts alike in an easy-to-use database while empowering individual citizens to learn
					more about their representatives in congress.
				</p>
			</div>
		</div> -->

	</body>
</html>
